# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
dist/
*.egg

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
.terraform.lock.hcl
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars

# Build
build/
*.zip

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Test
.pytest_cache/
.coverage
htmlcov/
